/* styles.css */
.underline-hover {
    position: relative;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.underline-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.underline-hover:hover::after {
    width: 100%;
}
